{% extends "/components/layouts/main.html" %}

{% macro Title %}Users{% end %}

{% macro Body %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <th scope="row">{{ user.ID }}</th>
            <td>{{ user.Name }}</td>
            <td>{{ user.Email }}</td>
        </tr>
        {% end %}
    </tbody>
</table>
{% end %}